<p id="notice"><%= notice %></p>

<p>
  <strong>Bill_id:</strong>
  <%= @bill.id %>
</p>

<p>
  <strong>Client_id:</strong>
  <%= @bill.client_id %>
</p>

<p>
  <strong>Name_bill:</strong>
  <%= @bill.name_bill %>
</p>

<p>
  <strong>Employee_id:</strong>
  <%= @bill.employee_id %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
