<p id="notice"><%= notice %></p>

<p>
  <strong>Document_id:</strong>
  <%= @document.id %>
</p>

<p>
  <strong>Client_id:</strong>
  <%= @document.client_id %>
</p>

<p>
  <strong>Name_Document:</strong>
  <%= @document.name_doc %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
