<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @document.client_id %>
</p>

<p>
  <strong>Name doc:</strong>
  <%= @document.name_doc %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
